# We are on a parent project avoid the sub project directories
.DS_Store
**/.DS_Store

.tmp
**/.tmp

.git
**/.git

.settings
**/.settings

.project
**/.project

.idea
**/.idea

.netbeans
**/.nbproject
nbproject

.classpath
**/.classpath

*.log
**/*.log

logs
**/logs

.vscode
**/.vscode

target
**/target

**/test-output

repository/src/main/resources/cities/**
